<mat-toolbar class="barra">
      CENTRAL  CINEMA
  <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
    <button mat-button (click)="logout()">
      <mat-icon>account_circle</mat-icon>
      {{user.displayName}}
      <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container>

  <ng-template #loginButton>


<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="login">
    <mat-icon>login</mat-icon>
    <span>Iniciar Sesión</span>
  </button>
  <button mat-menu-item routerLink="home">
    <mat-icon>logout</mat-icon>
    <span>Cerrar Sesión</span>
  </button>
  <button mat-menu-item routerLink="/sign-up">
    <mat-icon>register_shutdown_function</mat-icon>
    <span>Registrarse</span>
  </button>
</mat-menu>




    <!-- <button mat-button routerLink="login">
      <mat-icon>login</mat-icon>
      Iniciar Sesión
    </button> -->


  </ng-template>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>


<!-- <mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="components">
  <mat-icon aria-hidden="false" aria-label="Example home icon" >more_vert</mat-icon>
  <span>Inicio</span>
  </button>
  <button mat-menu-item routerLink="login">
    <mat-icon>login</mat-icon>
    <span>Iniciar Sesión</span>
  </button>
  <button mat-menu-item routerLink="home">
    <mat-icon>logout</mat-icon>
    <span>Cerrar Sesión</span>
  </button>
  <button mat-menu-item routerLink="/sign-up">
    <mat-icon>register_shutdown_function</mat-icon>
    <span>Registrarse</span>
  </button>
</mat-menu> -->


<!-- <mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()">
    <mat-icon>login</mat-icon>
    Iniciar Sesión
  </button>
</mat-menu> -->


